* {
    font-family: "JetBrains Mono" !important;/* <-- fonts */
    border-radius: 10px; !important
}
/* */
h1 {
    color: red;
}
body {
    background-color: dodgerblue;
}

.left-column{
    border-radius: 10px;
    float: left;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 75%;
}

.right-column {
    float: right;
    width: 20%;

}

.card {
    background-color: white;
    margin-top: 20px;
    margin-right:20px;
}

.right-card {
    background-color: white;
    margin-top: 20px;
    width: auto;
    min-height: 300px;
    height: auto;
}

/* Menu elements */

hr {
    color: black;
}

ol,ul {
    list-style: none;

}

#menu {
    display: inline-block;
    margin:20px;
    width:900px;
    float: left
}

#button-row {
    float: right;
    margin-top: 2px;
}


#navigation {
    margin:auto;
    text-align: center;
    display: grid;
    float: left;

}

#button-row {
    background-color: #b3d4fc;
}

#menu li {
    text-align: center;
    display: grid;
    text-decoration-color: #b3d4fc;
    float: left;
    padding: 5px;
    width: 18%;
}

#menu a {
    display: block;
    padding-bottom: 5px;
    text-decoration: none;
    background-color: #fff;
    border-radius: 5px;
    color: #009;
}

#menu a:hover {
    background-color: #009;
    color: #fff;
}

#image {
    width: 100%;
    height: 250px;
    border-radius: 5px;
}

.container {
    position: relative;
    text-align: center;
    color:white;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-decoration-color: darkgreen;
}







/* New post popUp */

.popup-header{
    padding:5px;
    display: inline;
    font-size: 20px
}

#button-remove{
    float: right;
}


#add-new-post{
    float: right;
    margin-top: 5px;
}

#post-popup{
    margin-top: 10px;
    background-color: white;
    font-size: 12px; !important;
    width: 100%;
    display: none;
}

.popup-cards{
    padding: 10px;
    display: inline-block;
    width: 100%;

}

#post-button{
 width: 80px;
}

#hidden-template-button{
    padding:5px;
    float: right;
}

#hidden-template-button:hover{
    background-color: darkgray;

}

#title{
    width: 30%;
}
#post{
    width:30%;
    height: 70px;
}

.inputs{
    border-radius: 1px;
}

.header {
    text-align: center;
    padding: 30px;
    font-size: 40px;
    background: white;
}







/* Under logo infos */

#info{
    display: inline;
}

.about{
    color:  white;
    display: inline;
    outline: #000099;

}

#date-time{
    float: right;
}




/* Articles and right panel elements */

.left-column{
    float: left;
    width: 75%;
}

.right-column {
    float: right;
    width: 20%;
}

.card {
    background-color: white;
    padding: 10px;
}

.right-card {
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    width: auto;
    min-height: 300px;
    height: auto;

}

.article-headers {
    text-align: left;
    color: dimgrey;
}

.row{
    margin:20px;
}

.row:after {
    content: " ";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    .left-column, .right-column {
        width: 100%;
        padding: 0;
    }
}


/* footer elements */

footer {
    padding: 20px;
    text-align: center;
    background: snow;
    margin-top: 20px;
}


