* {
    font-family: "JetBrains Mono" !important;
    border-radius: 5px; !important;
}


body {
    display: block;
    text-align: center;
    background-color: gainsboro;
}


.frame {
    display: block;
    padding: 5px;
    background-color: lightsteelblue;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 300px;
    outline: none;

}
.row {
    display: block;
}


.input-border {
    height: 23px;
    border-color: red;
}

#row-button {
    float: left;
    width: 100%;
}


.buttons {
    width: 100px;
    margin-bottom: 10px;
}

#cancel-button{
    float: left;
}
#send-button {
    float: right;
}