* {
    font-family: "JetBrains Mono" !important;/* <-- fonts */
    border-radius: 5px; !important;
    border-color: dimgrey;
}

body {
    display: block;
    align-items: center;
    background-color: dodgerblue;
}



.frame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    horiz-align: center;
    background-color: lightsteelblue;
    width: 200px;
    height: 200px;
    padding: 10px;

}

.row {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    text-align:center;
}




#header {
    display: table;
    margin-left: auto;
    font-size: 25px;
    margin-right: auto;
    text-align: center;
}


