* {
    font-family: "JetBrains Mono" !important;
    border-radius: 5px; !important;
}


body {
    display: block;
    text-align: center;
    background-color: gainsboro;
}


.frame {
    display: block;
    padding: 5px;
    background-color: dodgerblue;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 300px;
    outline: none;

}
.row {
    display: block;
}


.input-border {
    height: 23px;
}

#row-button {
    width: 100%;
    display: inline;
}

.buttons {
    width: 130px;
    margin-top: 100px;
}

#cancel-button{
    float: left;
    text-decoration: none;
}
#send-button{
    float: right;
}
