*{
    font-family: "JetBrains Mono"; !important;
}


.register-container {
    display: block;
    padding: 5px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    min-width:400px;
    max-width: 500px;
    min-height: 200px;
    overflow: hidden;
    outline: none;
    text-align: center;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;

}

input{
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    color: #333333;
}


.register-container:after{
    content: "";
    display: table;
    clear: both;
}

#terms{
    display: inline;
}

.terms-block{
    display: inline-block;
}

label {
    display: block;
}

.register-sections{
    float: left;
    width: 50%;
}

.buttons-container{
    display:inline-block;
    width:100%;
    margin-top: 100px;

}

#birth{
    width:187px;
}

#cancel{
    width: 120px;
    height: 25px;
    float: left;
    border-radius: 5px;
}
#register-button{
    width: 120px;
    height: 25px;
    float: right;
    border-radius: 5px;
}


h1{
    text-align: center;
}

#form-captcha{
    display: inline;
    width: 100%;
    float: left;
}

#input-container{
    display: inline-block;
}

#form-container{
    display: inline;
}


.input-description{
    text-align: center;
}

#back-to-main-button{
    display: inline-block;
    width: 100%;
}

#back{
    float: right;
}
#back:hover{
    background-color: aliceblue;
}
