*{
    font-family: "JetBrains Mono"; !important;
}

html, body {
    height:100%;
}

html,body{
    height:100%;
    margin: 0 !important;
    padding: 0 !important;
}
.container{
    display:table;
    width:100%;
    height:100%;
}
.green{
    display:table-cell;
    width:70%;
    border-right:1px solid black;

}
.red{
    display:table-cell;
    background-color: lightskyblue;
    width:30%;
}

#admin-header{
    text-align:center;
}

.settings{
    display:block;
    margin:10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#admin{
    text-align: center;
}
#user{
    text-align: center;
}

#options {
    text-align:center;
}
#trends{
    texdt-align:center;
}