*{
    font-family: "JetBrains Mono"; !important;
}

html, body {
    height:100%;
}

html,body{
    height:100%;
    margin: 0 !important;
    padding: 0 !important;
}
.container{
    display:table;
    width:100%;
    height:100%;
}
.green{
    display:table-cell;
    width:70%;
    border-right:1px solid black;

}
.red{
    display:table-cell;
    width:30%;
}

#admin-header{
    text-align:center;
}

.settings{
    display:block;
    margin:10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#admin{
    text-align: center;
}
#user{
    text-align: center;
}

#options {
    text-align:center;
}
#trends{
    texdt-align:center;
}


/* User Panel */

#user-panel-label{
    text-align:center;
}

.green{
    clear:both;
    content:"";
    display:table;
    width: 100%;
}

.user-settings{
    margin-top:40px;
    float:left;
    width:50%;
    text-align: center;
}


.user-data-template{
    list-style-type:none;
    font-size:20px;
    padding: 10px 5px;
    justify-content: space-between;
    border-bottom: 1px solid black;

}

.right-side{
    text-align: left;
}


/* Admin panel -> users */


.userID{
    display:inline-block;
    border-radius:5px;
    background-color: deepskyblue;
}

.userID:hover{
    background-color: white;

}


