* {
    font-family: "JetBrains Mono" !important;/* <-- fonts */
}

button, input{
    border-radius: 5px;!important;
}





body{
    background-color: #ACBCE6;
    margin: 0;
}

.active {
    color: red;
}


/* Navigation */

.container:after{
    display: table;
    content: "";
    clear: both;
}


.menu-rows {
    background-color: #333333;
    float: left;
    width: auto;
}





#topnav {
    background-color: #333;
    overflow: hidden;
    width: 70%;
}

#logo-container{
    background-color: #333;
    width: 10%;

}

#text-decoration{
    font-size: 7px;
    color: white;
    text-align: center;
}

#logo-container:after{
    display: table;
    content: '';
    clear: both;
}

.logo-column{
    float: left;
    width: 50%;
    color: white;
    text-align: center;
    vertical-align: middle;
    position: relative;
}



#logo{
    margin: 10px;
    text-align: center;
}

.nav{
    float: left;
    border-radius: 0%;
    height: 50px;
}

#topnav ul{
    margin: auto 0;
    width: 100%;
 }

/* Navigation -> user profile */

#logo-and-user-profile{
    background-color: #333;
    width:20%;
    height:50px;
}

.user-profile-container:after{
    clear: both;
    display: table;
    content: "";
}

.user-profile-rows{
    float: left;
    width: 50%;
    color: white;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

#user-image{
    color: transparent;
    position: relative;
    top: 50%;
    transform: translateY(+25%);
}



#user-name {
    color: white;
    text-align: center;
    font-size: 10px;
    position: relative;
    top: 50%;
    transform: translateY(+60%);
    height: 100%;
}


hr {
    color: black;
}

ol,ul {
    list-style: none;

}

#topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#topnav a:hover {
    background-color: #ddd;
    color: black;
}

#topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topbars:after{
    border-radius: 0;
    width: 100%;
    display:table;
    clear:both;
    content:"";

}

.topbars-containers{
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid lightskyblue;
    border-radius: 0;
    font-size:14px;
}

.span-containers {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#topbars-containers-date{
    float: left;
    width: 33.33%;
}
#topbars-containers-search{
    display: inline-block;
    width: 33.33%;
}



/*
Buttons account
 */

.user-account-buttons{
    margin-top:10px;
    display:block;
    outline: 1px solid black;

}

#login{
    display: inline;
    color: white;
    width: 120px;
    height:25px;
    background-color: #333333;
    float: right;
    margin:10px;
    text-decoration: none;
    text-align: center;
}

#login:hover{
    background-color: white;
    color:#333333;
}


#signup{
    display: inline;
    color:white;
    height:25px;
    width: 120px;
    margin:10px;
    float: right;
    background-color: #333333;

    text-align: center;
}

#register{
    color:white;
    text-decoration: none;
}

#register:hover{
    color:#333333;
}

#signup:hover{
    background-color: white;
    color:#333333;
}

.user-account-labels{
    text-align: center;
    margin: 0;

}

#span-user-account{
    text-align:center;
    display:block;
    margin-right:15px;
}


/* Work in progress */

.work-status{
    position: relative;
}

#work-in-progress-image{
    margin: 20px;
    bottom: 0;
    float: right;
}


/* Topbar */

.topbar:after{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.topbar {
    height: 100%;
    height: 190px;
    background-image: url(../../public/logo.png);
    border-bottom: 2px solid lightslategray;
}

.topbar-column{
    float: left;
    width: 50%;
}

#logo-img {
    border-bottom: 1px solid slategrey;
    flex-shrink: 0;
    min-width: 100%;
    height: 150px;
}

/* Topbar -> User input */

.search{
    margin: 10px;

}


#input-articles{
    width: 225px;
    box-shadow: none;
}



/* Articles and right panel elements */

.left-column{
    float: left;
    width: 75%;
}

.right-column {
    float: right;
    width: 20%;

}

.card {
    margin-bottom: 30px;
    background-color: white;
    padding: 10px;
    width: 100%;
    display: inline-block;
}

.right-card {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    width: auto;
    min-height: 300px;
    height: auto;

}

.article-headers {
    text-align: left;
    color: dimgrey;
}

.quadratic-equ-input{
    width: 100%;
}

.row{
    margin:20px;
}

.row:after {
    content: " ";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    .left-column, .right-column {
        width: 100%;
        padding: 0;
    }
}

/* New post popUp */

.popup-header{
    padding:5px;
    display: inline;
    font-size: 20px
}

#button-remove{
    float: right;
}


#add-new-post{
    float: right;
    margin-top: -5px;
    margin-right: -20px;
}

#post-popup{
    margin-top: 10px;
    background-color: white;
    font-size: 12px; !important;
    width: 102%;
    display: none;
}



.popup-cards{
    padding: 10px;
    display: inline-block;
    width: 100%;

}

#post-button{
    width: 80px;
}


#title{
    width: 30%;
}
#post{
    width:30%;
    height: 70px;
}

.inputs{
    border-radius: 1px;
}



.header {
    border-radius: 0;
    text-align: center;
    font-size: 40px;
    background: white;
}

/* Posts structure */

.post-header{
    text-align:left;
    margin:5px;
}

.post-text{
    width: 100%;
    display: inline-block;
    margin: auto;
    height:auto;
}

.post-date{
}

.post-author{
    float: right;
}

.postID{
    float:right;
    text-align: right;
    width:100%;
}

#post-tools{
    float:right;
    margin-right:5px;
    border-radius:5px;
}

#post-tools:hover{
    background-color: wheat;
}



.author-info{
    margin-right:5px;
    margin-bottom: -15px;
    display: table;
    float: right;
}
.commentary-container{
    display: inline-block;
    width:100%;
}

#button-commentary{
    float: right;
    margin-right:10px;
    display:inline-block;
}

.commentary-section{
    display: none;
    width:100%;
    margin-bottom:5px;
}

#commentary-hidden-button{
    display: inline;
    float: right;
    padding:10px;
}

/* Extended post form in article */

#post-popup\ articles-post{
    display:block;
    outline: 1px solid black;
}

#title\ title-article{
    width:15%;
}


.form-article{
    outline: 1px solid black;
}

/* WYSIWYG elements */

.WYSIWYG-tags{
    display:inline-block;
    width:80%;
}


#editor{
    background-color: white;
    margin-top:5px;
    float: left;
    width:70%;
    height:400px;
}

#message-article{
    width:50%;
}



#post-button\ article-buton{
    border-radius: 3px;
    width:120px;
}

/* Pagination */

.pagination{
    width: 100%;
    display:inline-block;
    text-align: center;
    margin: 10px;
}

.next-page{
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;


}

.pag-rows:hover{
    background-color: burlywood;
}


.pag-rows{
    width: 20px;
    background-color: white;
    display:inline-block;
    padding: 10px;
    text-decoration: none;
}

#pag-row-num{
    height: 100px;
}


#right-arrow-pag{
    transform:translateY(15px);
    height:21px;

    border-top-right-radius: 5px;


}
#left-arrow-pag{
    transform:translateY(15px);
    height:21px;
    border-top-left-radius: 5px;


}



/* Footer */

.footer{
    width: 100%;
    height: 100px;
    background-color: #333;
}

#footer-author{
    font: bold 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    width: 100%;
    color: white;
}

.footer-icons{
    display:inline-block;
    float: right;
    padding-right: 20px;

}

.chat{
    float: left;
    margin-left:10px;
    transform: translateY(-5px);

}

.link-chat{
    text-decoration: none;
    color: white;
}

.link-chat:hover{
    color:deepskyblue;
}


/* --------------------------------------------------------------------
ARTICLES PART
 */

.left-column.articles{
    margin-right: 30px;
}

.card.articles{
    width: 100%;
}

.left-column.articles{
    width: initial;
}

.card.articles{
    min-height: 400px;
}


/* FILTER OPTIONS */




.filter{
    width: 100%;
    display: inline;
    overflow: auto;
}

.filter .navbar{
    margin: auto;
}

.filter .active{
    float: none;
}


#filter-desc{
    text-align: left;
    margin-left:30px;
}



/* Style the navigation bar */

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 14px;
    width: 50%;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: white;
}

/* Current/active navbar link */
.navbar a:active{
    background-color: #04AA6D;
}

.navbar {
    width: 100%;
    background-color: #ACBCE6;
    display:table;
}


.filter-col{
    display: inline;
    float: right;
}


.right-filter{
    float: right;
    display: inline-block;
    width:50%;
}

.articles-button {
    display: inline-block;
    width: 120px;
    height: 25px;
    text-align: center;
    color: white;
    float: right;
    margin-right: 30px;
    background-color: #333333;
    border-radius: 3px;
}

.articles-button:hover{
    background-color: white;
    color: black;
}

.articles-a{
    float:left;
}


.left-filter{
    float:left;
    display: inline-block;
    width:50%;
}


.active{
    color: black;
    margin-left: 20px;
}

.inline{
    text-wrap: none;
    color: white;
}

/* ToolTip */

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* CSS */
.button-16 {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
}

.button-16:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
}

.button-16:focus {
    border-color: #4285f4;
    outline: none;
}