* {
    font-family: "JetBrains Mono" !important;
}



.frame {
    display: block;
    text-align: center;
    padding: 5px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 300px;
    outline: none;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;



}
.row {
    display: block;
}

#header{
    text-align: center;
}

.input-border {
    height: 23px;
}

.input-log{
    box-shadow: rgba(0,0,0,0.20 ) 0px -50px 36px -28px inset; ;
}

#row-button {
    width: 100%;
    display: inline;
}

.buttons {
    width: 130px;
    margin-top: 115px;
    margin-left: 5px;
}

#cancel-button{
    float: left;
    text-decoration: none;
}
#send-button{
    float: right;
}
