*{
    font-family: "JetBrains Mono" !important;
}

body {
}

#img{
    width: 100%;
    float: right;
}

#prev{
    float: right;
}
#prev:hover{
    background-color: aliceblue;
}

.top{
    display:inline-block;
}

.inputs{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#form-container{
    display: block;
    text-align: center;

}
.buttons{
    margin: 15px;
}
#line{
    width: 250px;
}
.inputs-container{
    outline: 1px solid blue;
    outline-width: 10px;
}
